.wrapper {
    mix-blend-mode: screen;
    position: relative;
    height: 229px;
    width: 627px;

    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
}


.confirm {
    position: absolute;
    width: 114px;
    height: 27px;
    left: 400px;
    top: 169px;

    background: rgba(124, 216, 101, 0.7);

    border: 1px solid #000000;
    box-sizing: border-box;

    font-family: Roboto Slab, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #000000;

}

.cancel {
    position: absolute;
    width: 114px;
    height: 27px;
    left: 110px;
    top: 169px;

    background: rgba(255, 123, 115, 0.7);
    border: 1px solid #000000;
    box-sizing: border-box;

    font-family: Roboto Slab, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #000000;
}

.text_wrapper {
    position: absolute;
    width: 556px;
    height: 129px;
    margin-left: auto;
    margin-top: 13px;
    font-family: Roboto Slab, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
}