@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.table_wrapper{
    /*width: calc(100% * 1321 / 1440);*/
    width: 1160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 35px;
}

.table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

.table_header {
    height: 50px;
    font-family: Roboto Slab, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    background: #C4C4C4;
    border-top: 1px solid #000000;
    border-bottom: 2px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    box-sizing: border-box;
    word-wrap: break-word;
    color: black;
}

.name_col{
    width: 279px;
    /*width: calc(100% * 279 / 1321);*/
}

.email_col{
    /*width: calc(100% * 279 / 1321);*/
    width: 279px;
}

.reg_time_col{
    /*width: calc(100% * 299 / 1321);*/
    width: 299px;
}

.phone_col{
    /*width: calc(100% * 255 / 1321);*/
    width: 255px;
}
