@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.footer {
    background: rgb(202, 167, 140);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    height: 90%;
    max-height: 35px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.cop {
    font-family: Roboto, serif;
    font-style: normal;
    color:rgba(31, 17, 7, 0.534);
}

@media screen and (max-width:320px) and (max-height:568px){
    .cop {
        font-size: 15px;
    }
}