@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.search_panel {
    background: rgba(196, 196, 196, 0.42);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    width: calc(100% * 1320 / 1440);
    height: 47px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search_icon {
    background-image: url("../../../../../images/search/search_button.png");
    width: 40px;
    height: 41px;
    margin-left: calc(100% * 25 / 1440);
    margin-right: calc(100% * 15 / 1440);
    margin-top: auto;
}

.search_input {
    background: rgba(196, 196, 196, 0);
    border: none;
    outline: none;
    height: 40px;
    font-family: Roboto Mono, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    width: 90%;
    margin-top: auto;
    text-align: left;
}