@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
.back{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.349);
    z-index: 100;
}

.wrapper{
    position: relative;
    width: 300px;
    height: 250px;
    background-color: #E5E5E5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-shadow: 2px 3px 8px 5px rgba(41, 40, 40, 0.596);
}

@media screen and (max-width:568px) and (max-height:320px){
    .wrapper{
        margin-top: 50px;
    }
}

.logo{
    position: absolute;
    background-image: url('../../../../../images/Login/login_logo.png');
    display: block;
    margin-left: 120px;
    margin-right: auto;
    margin-top: 15px;
    height: 70px;
    width: 60px;
    background-position: 50% 50%;
    background-repeat:no-repeat;
    background-size: cover;
}

.email{
    position: absolute;
    width: 200px;
    margin-left: 45px;
    height: 25px;
    margin-top: 100px;
    border: none;
    font-size: 17px;
    background-color: #E5E5E5;
    border-bottom: solid 2px black;
    font-family: Roboto Slab;
}
.email:active,:hover,:focus{
    outline: 0;
    outline-offset: 0;
}

.password{
    position: absolute;
    width: 200px;
    margin-left: 45px;
    height: 25px;
    margin-top: 150px;
    border: none;
    font-size: 17px;
    background-color: #E5E5E5;
    border-bottom: solid 2px black;
    font-family: Roboto Slab;
}

.password:active,:hover,:focus{
    outline: 0;
    outline-offset: 0;
}

.exit{
    position: absolute;
    margin-top: 200px;
    width: 100px;
    height: 35px;
    margin-left: 25px;
    background: rgba(202, 167, 140, 0.651);
    box-shadow: 1px 0.5px 1px 1px rgb(202, 167, 140);
    border: none;
    font-size: 12px;
    border-radius: 5px;
    font-family: Roboto Slab;
    font-style: Light;
}
.login{
    position: absolute;
    margin-top: 200px;
    width: 100px;
    height: 35px;
    margin-left: 175px;
    background: rgba(202, 167, 140, 0.651);
    box-shadow: 1px 0.5px 1px 1px rgb(202, 167, 140);
    border: none;
    font-size: 12px;
    border-radius: 5px;
    font-family: Roboto Slab;
    font-style: Light;
}