@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.header_unlogged{
    background: rgb(202, 167, 140);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    height: 90%;
    max-height: 100px;
    min-height: 70px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-style: solid;
    border-radius: 1px;
    border-bottom-color: #4C0C1C;
    align-items: center;
}

.header_logged{
    background: rgb(162, 146, 127);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    height: 90%;
    max-height: 100px;
    min-height: 70px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-style: solid;
    border-radius: 1px;
    border-bottom-color: #000000;
    align-items: center;
}

.logo{
    background-image: url('../../images/Logo/logo90x90.png');
    display: block;
    margin-top: 5px;
    margin-left: 60px;
    height: 80px;
    width: 80px;
    background-position: 50% 50%;
    background-repeat:no-repeat;
    background-size: cover;
}

@media screen and (max-width:605px){
.logo{
    display: none;
}
}
.buttons_area{
    margin-right: 2%;
    align-self: center;
    margin-left: auto;
    width: 150px;
}

.login{
    text-align: center;
    letter-spacing: 0.04em;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 15px;
    background: #4C0C1C;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    width: 150px;
    height: 45px;
    color:rgb(233, 224, 217);
}

.title_unlogged{
    position: absolute;
    margin: 0;
    left: calc(50% - 476px/2);
    font-family: Roboto Slab, serif;
    width: 475px;
    align-self: center;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4C0C1C;
}

.title_logged{
    position: absolute;
    margin: 0;
    left: calc(50% - 476px/2);
    width: 475px;
    font-family: Roboto Slab, serif;
    align-self: center;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
}
