@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
.components_table {
    border-spacing: 0;
}

.header, .subheader, .table_element {
    border: 1px solid #000000;
    box-sizing: border-box;
    width: 309px;
    font-family: Roboto Mono, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
}

.header {
    height: 75px;
    background-color: rgb(172,161,148);
}

.subheader {
    height: 79px;
    line-height: 79px;
    background-color: #F1F1F1;
}

.table_element {
    height: 65px;
    line-height: 65px;
    background-color: #F1F1F1;
}

.first_row {
    width: 290px;
}

.second_row {
    width: 260px;
}

.third_row {
    width: 250px;
}

input {
    border: none;
    background-color: #F1F1F1;
    margin-bottom: 0;
    padding: 0;
    font-family: Roboto Mono, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

select {
    border: none;
    font-family: Roboto Mono, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-appearance: none;
    background: #F1F1F1 url("../../../../../images/select/select_arrow.png") no-repeat right;
}
