.Header {
    min-height: 100px;
}

.Content {
    /*min-height: 810px;*/
    min-height: calc(100vh - 70px);
}

.Footer {
    min-height: 25px;
}

@media screen and (max-width: 420px) {
    .Content {
        min-height: 400px;
    }
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}
