.burger_button{
    position: absolute;
    background-image: url("../../../../../images/burgerMenu/lines.jpg");
    height: 48px;
    width: 48px;
    display: flex;
    left: 25px;
    margin: 0;
    cursor: pointer;
    background-size: 100%100%;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
}
