@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.footer{
    background: rgba(116, 75, 28, 0.39);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    height: 90%;
    max-height: 35px;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.cop{
    font-family: Roboto;
    font-style: normal;
    color:rgba(31, 17, 7, 0.534);
}

@media screen and (max-width:320px) and (max-height:568px){
    .cop{
        font-size: 15px;
    }
}