@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

.title{
    position: absolute;
    font-family: Roboto Slab, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 475px;
    height: 78px;
    left: calc(50% - 475px/2);
}